// Colours
$primary: #f74856;
$blue:    #2e69bb;
$green:   #52bd35;
$red:     #ce3741;
$lab-red: #e4003b;
$yellow:  #ebe537;

$black-blue: #19293a;
$black-grey: #262628;
$light-grey: #f2f2f2;

$link: darken($primary, 10%);